* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #2d2e6d;
}

.game-over {
    position: absolute;
    font-size: 5rem;
    color: #42C269;
    font-weight: 1000;
}

.game-over--active {
    visibility: visible;
}

.game-over--hidden {
    display: none;
}

/* FIXME */
.start {
    position: absolute;
    font-size: 3rem;
    color: #42C269;}
    p {
        text-align: center;
        font-size: 4rem;
    }

.start--hidden {
    display: none;
}