* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #2d2e6d;
}

.game__ranking {
    cursor: pointer;
}

.game-over {
    position: absolute;
    font-size: 5rem;
    color: #42C269;
    text-shadow: 2px 2px 10px #42C269;
    font-weight: 1000;
}

.game-over--active {
    visibility: visible;
}

.game-over--hidden {
    display: none;
}

.game__show {
    position: absolute;
    display: flex;
    width: 52%;
    align-self: flex-start;
}

.game__show > ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    list-style: none;
    color: #42C269;
}

.start {
    position: absolute;
    font-size: 3rem;
    color: #42C269;
}

.start p {
    text-align: center;
    font-size: 4rem;
}

.start--hidden {
    display: none;
}

.game__ranking:hover {
    color: #137bcf;
}